body
{
    background: #CCC;
}

#Header a:hover
{
    color: #FFF;
}


#bg-img
{
    background-image: url("../css/02-portfolio-3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

#About
{
margin-top: -200px;
}

#About .fa
{
 color: #FFF;
}

#About span
{
    padding: 10px 20px 10px 20px;
}

#About hr
{
    border-width: 2px;
    margin-top: 06px;
}

#Skills span
{
  padding: 10px 20px 10px 20px;  
}

#Skills hr
{
    border-width: 3px;
    margin-top: 06px;   
}

#Work span
{
    padding: 10px 20px 10px 20px;
}

#Work hr
{
    border-width: 3px;
    margin-top: 06px;
}

#Contact span
{
    padding: 10px 20px 10px 20px;
}

#contact hr
{
    border-width: 3px;
    margin-top: 06px;  
}